

.obfuscated-white {
    color: rgba(0, 0, 0, 0);
    text-shadow: rgba(255, 255, 255, 0.95) 0px 0px 10px;
    text-shadow: rgba(255, 255, 255, 0.95) 0px 0px 10px 0.01em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


h2.obfuscated-white {
    color: rgba(0, 0, 0, 0);
    text-shadow: rgba(255, 255, 255, 0.95) 0px 0px 16px;
    text-shadow: rgba(255, 255, 255, 0.95) 0px 0px 16px 0.01em;
}
h2.obfuscated-black {
    color: rgba(0, 0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.95) 0px 0px 16px;
    text-shadow: rgba(0, 0, 0, 0.95) 0px 0px 16px 0.01em;
}


.obfuscated-black {
    color: rgba(0, 0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.95) 0px 0px 10px;
    text-shadow: rgba(0, 0, 0, 0.95) 0px 0px 10px 0.01em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 600px;
}

.bg-nav-blue {
    background-color: rgb(39, 107, 174);
}

.bg-light-blue {
    background-color: rgb(120, 172, 223);
}

.bg-light-grey {
    background-color: rgb(242, 243, 245);
}

body {
    background-color: rgb(232, 235, 238);
}

#inputIdentifier::-webkit-input-placeholder {
    font-size: 0.8em;
}

#inputIdentifier::-moz-placeholder {
    font-size: 0.8em;
}

#inputIdentifier:-ms-input-placeholder {
    font-size: 0.8em;
}

#inputIdentifier::placeholder {
    font-size:  0.8em;
}


html {
    position: relative;
    min-height: 100%;
}

.container {
    padding: 0 15px;
}

#submit-privately-btn, #single-submit-btn {
    background-color: rgba(0, 123, 255, 1);
    color: white;
}

#submit-privately-btn:hover, #single-submit-btn {
    background-color: rgba(0, 103, 235, 1);
    color: white;
}

#submit-publicly-btn{
    background-color: rgba(255, 147, 0, 1);
    outline-color: rgba(255, 147, 0, 1);
    color: black;
}

#submit-publicly-btn:hover{
    background-color: rgba(235, 127, 0, 1);
    outline-color: rgba(255, 147, 0, 1);
    color: black;
}

#inputComment {
    resize: none;
}

.comment-icon  { height: 3rem; width: 3rem; }
.submit-icon {  height: calc(2.25rem + 2px); width: calc(2.25rem + 2px); }

h1          { font-size: 3rem; }
h2          { font-size: 1.8rem; }
p           { font-size: 1.2rem; }
#title      { padding-top: 3rem; }
#title      { padding-bottom: 3rem; }

@media screen and (max-width: 1024px) {
    h1      { font-size: 2rem; }
    h2      { font-size: 1.2rem; }
    p       { font-size: 1rem; }
    #title  { padding-top: 2rem; }
    #title  { padding-bottom: 2rem; }
}
@media screen and (max-width: 600px) {
    h1      { font-size: 1.6rem; }
    h2      { font-size: 1.4rem; }
    p       { font-size: 1.2rem; }
    #title  { padding-top: 1rem; }
    #title  { padding-bottom: 1rem; }
}
@media screen and (max-width: 400px) {
.comment-icon  { height: 2rem; width: 2rem; }
    h1      { font-size: 1.4rem; }
    h2      { font-size: 1rem; }
    p       { font-size: 1rem; }
    #title  { padding-top: 1rem; }
    #title  { padding-bottom: 1rem; }
}
@media screen and (max-width: 200px) {
.comment-icon  { height: 1.5rem; width: 1.5rem; }
    h1      { font-size: 0.8rem; }
    h2      { font-size: 0.5rem; }
    p       { font-size: 0.3rem; }
    #title  { padding-top: 1rem; }
    #title  { padding-bottom: 1rem; }
    .btn-responsive {
              font-size: 0.2rem;
    }
}


@media screen and (max-width: 576px) {
    .col-xs-0 {
        display:none;
    }
}
